html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(188, 28, 156);
}
/* game board is centered and slightly below from the top*/ 
body > div {
  margin: 120px auto;
  text-align: center;
}


/*-----------------------------------------------------------*/
/* Every game tile should be 50px by 50px and sitting next   */
/* one another.                                              */
/*-----------------------------------------------------------*/
.tile {
  width: 7vw;
  height: 4vh;
  display: inline-block; /*so blocks are next to each other*/
  vertical-align: top;

}


/*-----------------------------------------------------------*/
/* Pacman will encounter walls and coins.                    */
/* Pacman can't move through walls, but can eat coins.       */
/*-----------------------------------------------------------*/

/* Walls are blue with an off-blue border. */
.wall {
  background-color: #34003D;
  border: 2px solid cornflowerblue;
}

/* Coins are made by rounding the corners and  */
/* making them much smaller than 50px by 50px. */
.coin {
  background-color: white;
  border-radius: 50%;
  transform: scale(0.3);
}

.power {
  background-color: white;
  border-radius: 50%;
  transform: scale(0.55);
}


/*-----------------------------------------------------------*/
/* We make pacman appear to face different directions by     */
/* using different background images based on class name.    */
/*-----------------------------------------------------------*/
.pacman {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  background-repeat: no-repeat;
  background-size: contain; /* or cover, depending on your need */
  background-position: center;
}

.left {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  transform: scaleX(-1);
}

.up {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  rotate: -90deg;
  
}

.down {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  rotate: 90deg;
}

.ghost {
  background: blue;
}

/* TOUCH BUTTONS */
#game-container {
  margin-bottom: 20px;
}
#controls {
  margin-top: 20px;
  text-align: center;
}

.control-btn {
  font-size: 2rem;
  padding: 15px 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: #C715FF;
  color: #000;
  font-weight: bold;
}

.control-btn:active {
  background-color: #34003D;
}

@media (min-width: 992px){
  .tile {
    width: 50px;
    height: 50px;
  
  }
}