@font-face {
  font-family: 'PressStart2P';
  src: url('pressStart2.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(240, 108, 214);
  touch-action: manipulation;

}

/* Main border */
.main-border {
  width: 100%;
  height: 100%;
  background-image: url("/images/main-border.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Keeps static confined */
  z-index: 99;
}
/* game board is centered and slightly below from the top  */
body > div {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'PressStart2P', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.titleHyve {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 1.1rem;
}

.titleGhost {
  margin-top: 0px;
  font-size: 1.1rem;
}
.scoreCard {
  font-size: 2.6rem;
  margin-bottom: 5px;
}

/*-----------------------------------------------------------*/
/* Every game tile should be 50px by 50px and sitting next   */
/* one another.                                              */
/*-----------------------------------------------------------*/
.tile {
  width: 5vw;
  height: 3vh;
  display: inline-block; /*so blocks are next to each other*/
  vertical-align: top;
}


/*-----------------------------------------------------------*/
/* Pacman will encounter walls and coins.                    */
/* Pacman can't move through walls, but can eat coins.       */
/*-----------------------------------------------------------*/

/* Walls are blue with an off-blue border. */
.wall {
  background-color: #34003D;
  border: 2px solid rgb(191, 34, 222);
}


/* Coins are made by rounding the corners and  */
/* making them much smaller than 50px by 50px. */
.coin {
  background-color: #FFE8FF;
  border-radius: 50%;
  transform: scale(0.3);
}

.power {
  background-color: #FFE8FF;
  border-radius: 50%;
  transform: scale(0.55);
}


/*-----------------------------------------------------------*/
/* We make pacman appear to face different directions by     */
/* using different background images based on class name.    */
/*-----------------------------------------------------------*/
.pacman {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  background-repeat: no-repeat;
  background-size: contain; /* or cover, depending on your need */
  background-position: center;
  transition: transform 0.1ms ease; 

}

.left {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  transform: scaleX(-1);
}

.up {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  rotate: -90deg;
  
}

.down {
  background-image: url('/images/Pacman_gif_facing_right.gif');
  rotate: 90deg;
}

.ghost {
  background-image: url('/images/ghost.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.1ms ease; 

}

.weakGhost {
  background-image: url('/images/weakGhost.png');  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* TOUCH BUTTONS */
.game-container {
  margin-bottom: 20px;
  background-color: #34003D;
  border: 5px solid rgb(191, 34, 222);
  display: flex; /* Helps the border fit snugly around the grid */
  padding: 15px; /* Optional: adds some space inside the border */
  justify-content: center;
  align-items: center;
  width: 80vw;
}

#game-map {
  display: grid;
  grid-template-columns: repeat(13, 5vw); /* 13 columns, each 50px wide */
  grid-template-rows: repeat(7, auto); /* 7 rows, each 50px high */
  justify-items: center; /* Centers tiles horizontally */
  align-items: center; /* Centers tiles vertically */
  margin: 0 auto; /* Centers the game map horizontally */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(255,115,177, 0.84); /*same as FF73B1*/
  color: white;
  font-family: 'PressStart2P', sans-serif;
  padding: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  border-radius: 30px;
  text-align: center;
  max-width: 100%;
  width: 70vw;
  margin: auto;
}

#restartBtn {
  background-color: #AE12DF;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-shadow: 3px 3px 4px rgba(174,18,223, 0.8);
  cursor: pointer;
  font-family: 'PressStart2P', sans-serif;
  box-shadow: 0.3px -5px 1px rgb(174,18,223);
  border-radius: 5px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#restartBtn:active {
  transform: translateY(-6px); /* 👈 moves button down */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0); /* 👈 shadow disappears */
}

#restartBtn:hover{
  transform: translateY(-6px); /* 👈 moves button down */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0); /* 👈 shadow disappears */
}
/* 
#controls {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20vw;
  height: 10vh;
}

.control-btn {
  font-size: 2rem;
  padding: 15px 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background-color: #C715FF;
  color: #000;
  font-weight: bold;
  touch-action: manipulation;

}

.control-btn:active {
  background-color: #34003D;
}

.middle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
} */

.gamepad {
  width: 33vw;
}
@media (min-width: 992px){

  #game-map {
    grid-template-columns: repeat(13, 4vw); /* 13 columns, each 50px wide */
    grid-template-rows: repeat(7, auto); /* 7 rows, each 50px high */
  }
  .tile {
    width: 4vw;
    height: 5vh;
  
  }

  .controls{
    display: none;
  }
}